version: '3'
services:
  db:
    image: postgres:13.2-alpine
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    extends:
      file: postgres.yaml
      service: postgres
volumes:
  postgres: